@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}nav{
    position: fixed;
    background: hsla(112, 86%, 28%, 0.986);
    width: 100%;
    padding: 10px 0;
    z-index: 12;
  }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 450;
    text-align: center;
  }
  .menu ul{
    display: inline-flex;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: #fff;
    color: black;
  }
.img{
  background: url('Forest.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: tra;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.468);
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
h1 {
    color: #333;
}
p {
    color: #555;
    font-size: 18px;
}
.contact {
    margin-top: 20px;
}